@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

* {
	box-sizing: border-box;
}

body {
 margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Be Vietnam', sans-serif;
	font-size: .8rem;
}

@media only screen and (min-width: 350px) {
	body {
		font-size: 1rem;
	}
}

a {
	text-decoration: none;
	cursor: url('./images/cursor.svg'), auto;
}

.wrapper {
 width: 100%;
}

.header .nav {
	width: 100%;
	position: absolute;
	background: #000000;
	color: #fff;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 15px 35px;
}

@media only screen and (min-width: 650px) {
	.header .nav {
		flex-direction: row;
	}
}

.menu ul {
	width: 100%;
	display: flex;
	color: #fff;
	align-items: center;
	justify-content: space-between;
	list-style-type: none;
	padding: 0;
}

.menu ul li a {
	color: white;
	margin: 5px;
	transition: all .4s ease-in-out;
}

@media only screen and (min-width: 350px) {
	.menu ul li a {
		margin: 10px;
	}
}

.menu ul li a:hover {
	padding: 5px 2px;
	border-bottom: 2px solid #0DC8B5;
}

.menu ul li a:active {
	padding: 5px 2px;
	border-bottom: 2px solid #fff;
}

.hero {
	position: relative;
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
 box-sizing: border-box;
	background: #000;
} 

.hero:after {
	position: absolute;
	content: '';
	background: inherit;
	z-index: -3;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform-origin: top right;
	transform: skewY(-4deg);	
}

.intro {
	position: relative;
	text-align: center;
	z-index: 1;
}

.intro h3 {
	font-size: 1.2em;
}

@media only screen and (min-width: 350px) {
	.intro h3 {
		font-size: 1.6em;
	}
}

@media only screen and (min-width: 650px) {
	.intro h3 {
		font-size: 2.5em;
	}
}

.intro p {
	margin-top: 0px;
	margin-bottom: 2rem;
	font-size: 1em;
}

@media only screen and (min-width: 350px) {
	.intro p {
		font-size: 1.2em;
	}
}

@media only screen and (min-width: 650px) {
	.intro p {
		font-size: 1.5rem;
	}
}

.typed-text {
	color: #ff7f50;
}

.cursor {
	display: inline-block;
	width: 2.5px;
	background: #ccc;
	margin-left: 0.1em;
	animation: blink 1s infinite;
}

.typing {
	animation: none;
}

@keyframes blink {
	49% { background: #ccc;}
	50% {background: none;}
	99% { background: none;}
}

.intro-button {
	padding: .7rem 1.5rem;
	margin: 0 auto;
	border-radius: 25px;
	font-size: 1.3em;
	border: 0;
	background-image: linear-gradient(to left, #3030b6, #3030b6, #0DC8B5);
	background-size: 200%;
	transition: all .4s ease-in-out;
	cursor: url('./images/cursor.svg'), auto;
}

@media only screen and (min-width: 650px) {
	.intro-button {
		font-size: 1.5rem;
	}
}

.intro-button:hover {
	background-position: right;
}

.intro-button a {
	text-decoration: none;
	color: #fff;
}

.about {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #000;
	padding: 0 35px;
	margin-top: 3rem;
	margin-bottom: 2rempx;
}

@media only screen and (min-width: 650px) {
	.about {
		margin-top: 9rem;
		margin-bottom: 3rem;
	}
}

@media only screen and (min-width: 768px) {
	.about {
		flex-direction: row;		
	}
}

.about-me, .progress {
	line-height: 25px;
	width: 100%;
}
	
	@media only screen and (min-width: 768px) {
		.about-me{
			width: 45%;
		}

		.progress {
			width: 50%;
	}
}

.progress {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.about-me h1, .progress h1 {
	margin: 0;
	margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
	.progress {
		flex-direction: row;
	}
}

.progress .circle {
	margin: 1.5rem auto;
}

.progress .circle img {
	width: 200px;
	height: 200px;	
}

@media only screen and (min-width: 350px) {
	.progress .circle img {
		width: 250px;
		height: 250px;	
	}
}

@media only screen and (min-width: 650px) {
	.progress .circle img {
		width: 300px;
		height: 300px;
	}
}

.recent {
	color: #000;
	padding: 0 35px;
	margin-bottom: 3rem;
}

@media only screen and (min-width: 650px) {
	.recent {
		margin-bottom: 8rem;
	}
}

.recent-title {
	margin-bottom: 50px;
	text-align: center;
}

.recent-title h1 {
	margin: 0;
}

.recent-title p {
	margin: 0;
}

.recent-works {
	color: #fff;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 30px;
}

@media only screen and (min-width: 650px) {
	.recent-works {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (min-width: 1024px) {
	.recent-works {
		grid-template-columns: repeat(3, 1fr);
	}
}


.recent-works .item {
	position: relative;
	display: flex;
	overflow: hidden;
	box-shadow: 0 -1px 20px -5px #929292;
}

.recent-works .item .img-cont{
	height: 300px;
	display: flex;
	transition: all .4s ease-in-out;
}

.recent-works .item .img-wrapper{
	transition: all .4s ease-in-out;
}

.recent-works .item:hover .img-wrapper{
	transform: scale(1.1);
}

.recent-works .item .slide{
	position: absolute;
	top: calc(50% - 25px);
	width: 100%;
	font-size: 1.5rem;
	transition: all .4s ease-in-out;
	opacity: 0;
}

.recent-works .item:hover .slide{
	opacity: 1;
}

.recent-works .item .slide .prev,
.recent-works .item .slide .next{
	background: rgba(0,0,0,0.3);
	position: absolute;
	padding: 0 5px;
	transition: all .4s ease-in-out;
	cursor: url('./images/cursor.svg'), auto;
	user-select: none;
}

.recent-works .item .slide .prev {
	left: 0;
}

.recent-works .item .slide .next {
	right: 0;
}

.recent-works .item .slide .prev:hover,
.recent-works .item .slide .next:hover{
	background: rgba(0, 0, 0, 0.7);
}

.recent-works .item img{
	width: 100%;
}

.recent-works .item .languages{
	padding: 10px;
	padding-left: 25px;
	background: rgba(0,0,0,0.7);
	position: absolute;
	margin: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all .4s ease-in-out;
}

.recent-works .item:hover .languages{
	opacity: 0;
}

.contact {
 position: relative;
	width: 100%;
	box-sizing: border-box;
 padding-bottom: 100px;
 background: #0DC8B5;
}

.contact:after {
 position: absolute;
	content: '';
 background: inherit;
 outline: 0;
	z-index: -2;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform-origin: bottom right;
	transform: skewY(4deg);
}

.contact-me {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
}

.contact-me h1 {
		margin: 0;
}
.contact-me p {
	margin: 0;
}

.contact-form {
	position: relative;
	width: 80%;
	background: #000;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: auto;
	z-index: 1;
}

@media only screen and (min-width: 650px) {
	.contact-form {
		flex-direction: row;		
	}
}

.form {
	width: 100%;
	background: #fff;
	padding: 1.2rem;
	color: #000;
}

@media only screen and (min-width: 768px) {
	.form {
		width: 50%;
		padding: 3rem;
	}
}

input[type=text], input[type=password], input[type=email], textarea {
	width: 100%;
	padding: 8px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 0;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	resize: none;
	outline: none;
}

.send {
	color: #fff;
	background: #000;
	border: 0;
	border-radius: 25px;
	padding: 10px 20px;
	font-size: .8em;
	outline: none;
	cursor: url('./images/cursor.svg'), auto;
}

@media only screen and (min-width: 768px) {
	.send {
		font-size: 1em;
	}
}

.address {
	width: 100%;
	color: #fff;
	padding: 1.5rem;
	font-size: .8rem;
}

@media only screen and (min-width: 768px) {
	.address {
		width: 50%;
		padding: 3rem;
		font-size: 1rem;
	}
}

.address .icons a img{
	width: 30px;
	height: 30px;
}

	canvas {
 position: absolute;
 top: 0;
 left: 0;
}